nav {
	background-color: #eaeaea;
}

body {
	/*display: inline-block;*/
}

button {
	background-color: #e1ebed;
	color:#676768;
	border-radius: 15px 50px 30px;
}

h1 {
	color: #008CBA;
}

select {
	background-color: grey;
	color: white;
	height: 40px;
}

.contentContainer {
	display: inline-block;
	margin-left: 10vw;
	margin-right: 7vw;
	left: 10vw;
	height: 10vh;
}

.sliderDummy {
	margin-top: 2vh;
	background-color: #e1ebed;
}

.carousel-inner {
	height: 60vh;
	widows: 100vw;
	background-color: #e1ebed;
}

.carouselExampleControls {
	margin-top: 2vh;
}

.btnContainer {
	left: 45%;
	margin-top: 2vh;
	position: absolute;
}

.reviewBtn {
	font-size: 20px;
}

.reviewBtn:hover {
	background-color: #008CBA;
	color: white;
	transition: .75s;
}

/*.univHome {
	margin-top: 7vh;
	left: 30vw;
	position: absolute;
}*/

.dropdown {
	
	position: static;
	display: inline-flex;
}

.container {
	margin-top: 7vh;
	position: absolute;
}

.contentContainer {
	display: inline-flex;
}

.home {
	left: 30vw;
}

.message {
	text-align: center;
	color: #008CBA;
}

.dropdownContainer {
	display: inline-block;
}

.searchDisplay {
	margin-top: 50px;
}

.individualClass {
	background-color: silver;
	margin-top: 10px;
	margin-left:3.5vw;
	
}





