nav {
	background-color: #eaeaea;
}

body {
	/*display: inline-block;*/
}

button {
	background-color: #e1ebed;
	color:#676768;
	border-radius: 15px 50px 30px;
}

h1 {
	color: #008CBA;
}

select {
	background-color: grey;
	color: white;
	height: 40px;
}

a {
	text-decoration: none;
}

.contentContainer {
	display: inline-block;
	margin-left: 10vw;
	margin-right: 7vw;
	left: 10vw;
}

.sliderDummy {
	margin-top: 2vh;
	background-color: #e1ebed;
}

.carousel-inner {
	height: 60vh;
	widows: 100vw;
	background-color: #e1ebed;
}

.carouselExampleControls {
	margin-top: 2vh;
}

.btnContainer {
	left: 45%;
	margin-top: 2vh;
	position: absolute;
}

.reviewBtn {
	font-size: 20px;
}

.reviewBtn:hover {
	background-color: #008CBA;
	color: white;
	transition: .75s;
}

/*.univHome {
	margin-top: 7vh;
	left: 30vw;
	position: absolute;
}*/

.dropdown {
	
	position: static;
	display: inline-flex;
}

.container {
	margin-top: 7vh;
	position: absolute;
}

.contentContainer {
	display: inline-flex;
}

.home {
	left: 30vw;
}

.message {
	text-align: center;
	color: #008CBA;
}

.dropdownContainer {
	display: inline-block;
}

.searchDisplay {
	margin-top: 50px;
	display: none;
}

.individualClass {
	/*background-color: silver;*/
	border:solid silver;
	margin-top: 10px;
	margin-left:3.5vw;
	
}

.indvidualClass:hover {
	text-decoration: none;
}

.classNumber {
	color: silver;
}

.classNumber:hover {
	color: black;
	text-decoration: none;
}

.className {
	color: silver
}
.className:hover {
	color: black;
}

.star {
	color: silver;
	height: 0px;
	/*margin-top: 5px;*/
	margin-bottom: 20px;
}

.star:hover {
	color: #f4e842;
	text-decoration: none;
}

.searchDisplay {
	margin-left: 7vw;
}

.searchFooter {
	margin-top: 10vh;
}


/*START CLASS STYLES*/

.starContainer {
	margin-top: 20px;
}

.overallRatingsContainer {
	margin-left:50px;
	margin-right: 20px;
	display: inline-flex;
	width: 100%;
}


.rating {
	margin-top: 60px;
	margin-right: 30px;
}

.ratingsContainer {
	/*margin-left: 10vw;*/
	display: inline-flex;
	align-items:center;
	margin-top: 10vh;
}

.individualRating {
	padding-left: 20px;
	display: inline-block;
}

.userImage {
	width: 100px;
	height: 100px;
	/*margin: auto;*/
	font-size: 25px
}

.background {
	background-color: #dedfe0;
	padding: 20px;
	width: 30vw;
	margin: auto;
	margin-left: 20px;
	height: auto;
}

.ratingsContainer {
	display: inline-flex;
}

.ratingsContainer .row .individualRating .star {
	color: black;
	font-size: 25px;
}

.ratingRating {
	width: 150px;
}

.overviewRatings {
	display: inline-flex;
	width: 300px;
}

.info {
	/*margin-top: 10px;*/
	left: -50px;
}

.classStars {
	margin-left: 20px;
	margin-top: 20px;
}

.writtenReview {
	margin: 20px;
	height: 120px; 
	overflow: hidden;
	/*overflow-x: none;*/
}


.expand {
	position: absolute; 
	top:92%;
	left:75%;
	/*font-size: 30em;*/
}

.expandContainer {
	font-size: 1.5em;
}

.thumbsContainer {
	font-size: 2em;
	position: absolute;
	left: 70%;
	top:100%;
}


